language: go

go:
  - "1.10.x"

os: linux

sudo: false
install:
    - go get -t

script: 
    - go build .
    - ./scripts/sanity_check.sh
    - ./test/go-unit-tests.sh
    - ./scripts/build.sh linux
    - ./test/mock/defaults-change.sh
    - ./test/mock/short-versions.sh
    - ./test/mock/direct-paths.sh
    - ./test/mock/expected_ports.sh
    - ./test/mock/read-only-replication.sh
    - ./test/docker-test.sh $(cat .build/VERSION)

after_success:
    - echo "Build Successful!"

after_failure:
    - echo "Build Failed!"
