[!unix] skip 'this procedure can only work on Unix systems'
env HOME={{.Home}}
env TMPDIR={{.TmpDir}}
env sb_dir=$HOME/sandboxes/rsandbox_{{.DbPathVer}}_semi

[!minimum_version_for_semisync:$db_version:{{.DbFlavor}}] skip 'minimum version for Semi synchronous not met'
! exists $sb_dir

#deployment

exec dbdeployer deploy replication --concurrent {{.DbVersion}} --semi-sync --base-port=17000 --sandbox-directory=rsandbox_{{.DbPathVer}}_semi
stdout 'Replication directory installed in .*/sandboxes/rsandbox_{{.DbPathVer}}_semi'
stdout 'initializing slave 1'
stdout 'initializing slave 2'
! stderr .

exists $sb_dir

cleanup_at_end $sb_dir

# check files and ports

check_sandbox_manifest $sb_dir replication

env required_ports=3
[version_is_at_least:$db_version:8.0.0] env required_ports=6
check_ports $sb_dir $required_ports

# test replication

[!darwin] [version_is_at_least:$db_version:5.6.0] ! find_errors $sb_dir/master
[!darwin] [version_is_at_least:$db_version:5.6.0] ! find_errors $sb_dir/node1
[!darwin] [version_is_at_least:$db_version:5.6.0] ! find_errors $sb_dir/node2
exec $sb_dir/test_replication
stdout '# failed:     0'
! stderr .

# test semi-synchronous operations

exec $sb_dir/m -e 'show global status like "Rpl_semi_sync_master_status" '
stdout 'Rpl_semi_sync_master_status.*ON'
! stderr .

exec $sb_dir/s1 -e 'show global status like "Rpl_semi_sync_slave_status" '
stdout 'Rpl_semi_sync_slave_status.*ON'
! stderr .

exec $sb_dir/m -e 'show global status like "Rpl_semi_sync_master_yes_tx" '
stdout 'Rpl_semi_sync_master_yes_tx[^0-9]+[0-9]+'
! stdout '\b0\b'
! stderr .

exec $sb_dir/m -e 'show global status like "Rpl_semi_sync_master_no_tx" '
stdout 'Rpl_semi_sync_master_no_tx[^0-9]+0'
! stderr .

[!darwin] [version_is_at_least:$db_version:5.6.0] ! find_errors $sb_dir/master
[!darwin] [version_is_at_least:$db_version:5.6.0] ! find_errors $sb_dir/node1
[!darwin] [version_is_at_least:$db_version:5.6.0] ! find_errors $sb_dir/node2

# sandbox cleanup
exec dbdeployer delete rsandbox_{{.DbPathVer}}_semi
stdout 'sandboxes/rsandbox_{{.DbPathVer}}_semi'
! stderr .
! exists $sb_dir