[!unix] skip 'this procedure can only work on Unix systems'
env HOME={{.Home}}
env TMPDIR={{.TmpDir}}
env db_version={{.DbVersion}}
env sb_dir=$HOME/sandboxes/msb_{{.DbPathVer}}_custom
env db_port={{.DbIncreasedPort}}

! exists $sb_dir

# deployment

env db_user=--db-user=otheruser
env db_password=--db-password=otherpassword
env db_port=--port=$db_port
env db_dir=--sandbox-directory=msb_{{.DbPathVer}}_custom
exec dbdeployer deploy single $db_version $db_user $db_password $db_port $db_dir
stdout 'Database installed in .*/sandboxes/msb_{{.DbPathVer}}_custom'
stdout 'sandbox server started'
! stderr .
exists $sb_dir

cleanup_at_end $sb_dir

# check files and ports

check_sandbox_manifest $sb_dir single

env required_ports=1
[version_is_at_least:$db_version:8.0.0] env required_ports=2
check_ports $sb_dir $required_ports

exec $sb_dir/test_sb
stdout '# fail  :     0'
! stderr .

! find_errors $sb_dir

# sandbox cleanup
exec dbdeployer delete msb_{{.DbPathVer}}_custom
stdout 'sandboxes/msb_{{.DbPathVer}}_custom'
! stderr .
! exists $sb_dir
